.project{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
    color: azure;
}
.project h1{
    background: linear-gradient(267deg, rgb(96, 222, 38) 0.36%,rgb(102, 198, 246) 101.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding:0px 30px;
    font-size: 42px;
    font-weight: 700;
}
.myprojects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin: 0px 50px;
}
.project-div {
    background-color: rgb(21, 21, 18);
    margin: 0px 20px;
    display: flex; /* Flexbox for alignment */
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    padding: 15px; /* Optional padding for better spacing */
    
}

.project-div img {
    padding-top: 0px;
    margin-top: 0px;
    width: 80%;
    height: auto; /* Maintains aspect ratio */
    margin: auto; /* Centers image in its container */
    display: block; /* Ensures proper alignment for images */
}




.project-div:hover{
    background-color: rgb(29, 27, 34);
    border-radius: 10px;
    border: 2px solid white;
}
.project-showmore{
    border: 2px solid white;
    padding:8px 25px;
    transition: 0.3s;
    border-radius: 50px;
}
.project-showmore:hover{
    background-color: rgb(85, 149, 244);
    transform: scale(1.03);
    transition: 0.3s;
}
.plinks{
    display: flex;
    padding: 5px;
    justify-content:start;
    align-items: start;
}
.plinks a{
    text-decoration: none;
    color: white;
   
}
.plinksdiv{
    border: 1px solid black;
}
.plive,.pgit,.pdetails{
    padding: 10px;
    margin: 10px 10px 0px;
    background-color: rgb(30, 126, 126);
    border-radius: 30px;
}


@media(max-width:756px)
{
    .project h1{
        padding-top: 20px;
        margin-bottom: 0px;
        font-size: 32px;
        font-weight: 700;
    }
    .myprojects img{
        box-sizing: border-box;
        width: 300px;
        height:200px;
        transition: 0.5s;
        cursor: pointer;
        margin: auto;
    }
    .myprojects img:hover{
        transform: scale(1.10);
        transition: 0.5s;
    }
    .myprojects{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px
    }
}